{% extends "base.html" %}
{% block body %} <h2>Welcome:  {{ user_detail.name }}</h2>
    <a href="{% url 'homepage' %}"  class="btn btn-outline-success" type="submit">Back to Home</a>


<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-5  offset-1 alart alert-success" >
            <h2 class="text-center alart alert-info" >Fill All The Detail </h2>
            <form action="{% url 'account'%}" method="POST">
            {% csrf_token %}
            <table>
            {% for acc_form in account_form %}
            {{acc_form.label_tag}} {{acc_form}} {{form.errors}} <br> <br>
            {% endfor %}
            <tr>
                <td><input class="btn btn-success" type="submit" name="submit" value="Submit"/></td>
            </tr>
            </table>
            </form>
        </div>
    </div>
</div>
{% endblock body %}






{#<html>#}
{#  <head>#}
{#    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->#}
{#    <link rel='stylesheet' href='css/bootstrap.css'>#}
{#    <link rel="stylesheet" href="css/styles.css" type = "text/css">#}
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">#}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>#}
{#    <title>Bank Account</title>#}
{#  </head>#}
{#  <body>#}
{#    <div class="container">#}
{#      <div class="page-header">#}
{#        <h1>Bank Account <small>Keep track of your funds</small></h1>#}
{#      </div>#}
{##}
{#      <div class="row">#}
{#        <div class="col-sm-6">#}
{#          <form id="sign-up">#}
{#            <h4>Start banking by signing in:</h4>#}
{#            <div class="form-group">#}
{#              <label for="name" >Enter Your Name:</label>#}
{#              <input type="text" class="form-control" id="name" placeholder="eg. Ronda Rich">#}
{#            </div>#}
{#            <div class="form-group">#}
{#              <div class="input-group">#}
{#                <span class="input-group-addon" id="sizing-addon2">$</span>#}
{#                <input type="text" class="form-control" id='initial-deposit' placeholder="Enter Amount (to the nearest dollar)">#}
{#                <span class="input-group-addon">.00</span>#}
{#              </div>#}
{#            </div>#}
{#            <br>#}
{#            <button type="submit" class="btn btn-success">Create Bank Account</button>#}
{#          </form>#}
{#        </div>#}
{##}
{#        <div class="col-sm-6">#}
{##}
{##}
{#          <form id="deposit-withdraw">#}
{#            <h4>Deposit or withdraw your money:</h4>#}
{#            <div class="form-group">#}
{#              <label for="deposit">Deposit Amount:</label>#}
{#              <input type="text" class="form-control" id="deposit" placeholder="Enter Amount (to the nearest dollar)">#}
{#            </div>#}
{#            <div class="form-group">#}
{#              <label for="withdraw" placeholder='1000.00'>Withdraw Amount:</label>#}
{#              <input type='text' id='withdraw' class='form-control' placeholder="Enter Amount (to the nearest dollar)">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-success">Submit</button>#}
{#          </form>#}
{#        </div>#}
{#    </div>#}
{#    <br>#}
{#    <div class="account">#}
{#      <h3><span class="name"></span> your current account balance is $<span class="accountBalance"></span></h3>#}
{#    </div>#}
{#    </div>#}
{#  </body>#}
{#</html>#}