{% extends 'base.html' %}

{% block body %}
{#{% include 'core/navbar.html' %}#}
<br>
{#handel exception for invalid login attempt#}
{% if exception %}
    {% include 'core/navbar.html' %}
    <br>
    {{exception}}
    <h4>If you are new to page please sign up details and login first.</h4>

{#for existing customers#}
{% elif account_detail%}
     <h2>Welcome: {{user_name}} </h2>
     <h2>account Number : {{account_detail.account_no}}</h2>
     <a  href="{% url 'logout' %}"  class="btn btn-outline-success" type="submit">Logout</a> <hr>

     <div class="container-fluid">
          <div class="row">
                <h2>Our services: </h2>
          <div class="col-sm-4  offset-1 alert alert">

          <h3>Money Transfer -</h3> 
          <a  href="{% url 'send_money' %}"  class="btn btn-outline-info" type="submit">Send Money</a> <hr>

          <h3>Withdraw Money -</h3>
          <a  href="{% url 'withdraw' %}"  class="btn btn-outline-danger" type="submit">Withdraw</a> <hr>

          </div>

        <div class="col-sm-5 " >
          <h2> </h2>

          <h3>Check Transaction History -</h3>
          <a  href="{% url 'transaction_history' %}"  class="btn btn-outline-dark" type="submit">Transaction History</a> <hr>

          <h3>Deposit -</h3>
          <a  href="{% url 'send_money' %}"  class="btn btn-outline-success" type="submit">Deposit Money</a> <hr>

{#          <h3>Withdraw Money -</h3>#}
{#          <a  href="{% url 'account' %}"  class="btn btn-outline-danger" type="submit">Withdraw</a> <hr>#}

          </div>
     </div>
     </div>

{#for new users#}
{% else %}
     <h2>Welcome: {{user_name}} </h2>
     <a  href="{% url 'logout' %}"  class="btn btn-outline-success" type="submit">Logout</a> <hr>

     <div class="container-fluid">
          <div class="row">
                <h2>For new Users </h2>
          <div class="col-sm-4  offset-1 alert alert">

          <h3>Open Account -</h3>
          <a  href="{% url 'account' %}"  class="btn btn-outline-success" type="submit">Open Account</a> <hr>
          </div>
     </div>
     </div>

{% endif %}

{% endblock body %}